.personal-info-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  font-weight: 200;

  .personal-info-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d2dbe6;

    &:last-child {
      border: none;
    }

    span {
      padding: 1em;

      &:first-child {
        width: 13%;
        text-align: right;
        font-weight: 400;
        text-transform: uppercase;
        color: #324057;
      }
    }
  }
}
